<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails at the
  <a href="http://ruby-doc.org/">Rails help page</a>.
  To get help on this posts app, see the
  <a href="http://rubyonrails.org/"><em>Ruby on Rails</em>book</a>.
</p>
